/.vs/
/BE.Training.D365.Assembly/.vs/
/BE.Training.D365.Assembly/BE.Training.D365.Assembly/.vs/
/BE.Training.D365.Assembly/BE.Training.D365.Assembly/bin/
/BE.Training.D365.Assembly/BE.Training.D365.Assembly/obj/
BE.Training.D365.Assembly.csproj.user